{
  "presets": ["env", "react"],
  "plugins": [
    "rewire",
    "transform-async-generator-functions",
    "transform-class-properties",
    "transform-do-expressions",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
