.redbox {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
  position: fixed;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(204, 0, 0);
  color: white;
}

.redbox .message {
  font-weight: bold;
}

.redbox .stack {
  font-family: monospace;
  margin-top: 2em;
}

.redbox .stack .frame {
  margin-top: 1em;
}

.redbox .stack .frame .file {
  font-size: 0.8em;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}

.redbox .stack .frame .file {
  font-size: 0.8em;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}

.redbox .stack .frame .file a {
  text-decoration: none;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}
